<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<script type='module' src='/files/static/codemirror.js'></script>
<title>{{ base $.FilePath }}{{ if $.SitePrefix }} - {{ $.SitePrefix }}{{ end }}</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  &bull;
  <a href='{{ $.ContentSite }}' class='ma2 white'>{{ if hasPrefix $.ContentSite "https://" }}{{ trimPrefix $.ContentSite "https://" }}{{ else }}{{ trimPrefix $.ContentSite "http://" }}{{ end }}</a>
  <span class='flex-grow-1'></span>
  {{- if $.Username.Valid }}
  <a href='' class='ma2'>{{ if $.Username.String }}@{{ $.Username.String }}{{ else }}user{{ end }}</a>
  <a href='/users/logout/' class='ma2'>logout</a>
  {{- end }}
</nav>
<div class='mv2'>
  {{- if referer }}
  <a href='{{ referer }}' data-go-back>&larr; back</a>
  <span>&boxv;</span>
  {{- else }}
  <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>&larr; back</a>
  <span>&boxv;</span>
  {{- end }}
  {{- if eq (head $.FilePath) "notes" }}
    {{- if ne (dir $.FilePath) "notes" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "notes" }}/'>notes</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  {{- else if eq (head $.FilePath) "pages" }}
    {{- if ne (dir $.FilePath) "pages" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "pages" }}/'>pages</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  <span>&boxv;</span>
  view: <a href='{{ $.URL }}'>page</a>
  {{- else if eq (head $.FilePath) "posts" }}
    {{- if ne (dir $.FilePath) "posts" }}
    <a href='/{{ join "files" $.SitePrefix (dir $.FilePath) }}/'>{{ base (dir $.FilePath) }}</a>
    <span>&boxv;</span>
    {{- end }}
  <a href='/{{ join "files" $.SitePrefix "posts" }}/'>posts</a>
  <span>&boxv;</span>
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  {{- end }}
  {{- if $.BelongsTo }}
  <a href='/{{ join "files" $.SitePrefix }}/'>files</a>
  <span>&boxv;</span>
  belongs to: <a href='/{{ join "files" $.SitePrefix $.BelongsTo }}/'>{{ base $.BelongsTo }}</a>
  {{- end }}
</div>
<div>
  <img src='?raw' style='max-height: 100%; max-width: 100%; object-fit: cover;' loading='lazy'>
</div>
