<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<script type="module" src="/admin/static/login.js"></script>
{{- if $.RequireCaptcha }}
<script src='{{ $.CaptchaWidgetScriptSrc }}' async defer></script>
{{- end }}
<title>Login</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
</nav>
<form method='post' class='mv5 w-80 w-70-m w-60-l center' data-login-validation>
  <h1 class='f3 mv3 b tc'>Login</h1>

  {{- if eq (index $.PostRedirectGet "from") "invite" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert-success'>
    <div>Account created, please log in using your new credentials.</div>
  </div>
  {{- end }}
  {{- if eq (index $.PostRedirectGet "from") "resetpassword" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert-success'>
    <div>Password reset successfully, please log in using your new credentials.</div>
  </div>
  {{- end }}
  {{- if eq $.Error "AlreadyAuthenticated" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    {{- if $.Username }}
    <div>You are already logged in, <a href='/files/@{{ $.Username }}/'>click here to go to your dashboard</a>.</div>
    {{- else }}
    <div>You are already logged in, <a href='/files/'>click here to go to your dashboard</a>.</div>
    {{- end }}
  </div>
  {{- else if eq $.Error "RetryWithCaptcha" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>Please retry with captcha.</div>
  </div>
  {{- else if eq $.Error "CaptchaChallengeFailed" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>Captcha challenge failed.</div>
  </div>
  {{- else if eq $.Error "IncorrectLoginCredentials" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>Incorrect login credentials.</div>
  </div>
  {{- else if eq $.Error "UserNotFound" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>User not found.</div>
  </div>
  {{- else if eq $.Error "NotAuthenticated" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>Please log in.</div>
  </div>
  {{- end }}

  <div class='mv3'>
    <div><label for='username' class='b'>Username or Email:</label></div>
    <input id='username' name='username' value='{{ $.Username }}' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "username" }} b--invalid-red{{ end }}' autocomplete='on' required{{ if eq $.Error "NB-00050" }} autofocus{{ end }}>
    <ul>
      {{- range $i, $error := index $.FormErrors "username" }}
      <li class='f6 invalid-red list-style-disc'>{{ $error.Message }}</li>
      {{- end }}
    </ul>
  </div>

  <div class='mv3'>
    <div><label for='password' class='b'>Password:</label></div>
    <input id='password' type='password' name='password' class='w-100 pv1 ph2 br2 ba w-100{{ if index $.FormErrors "password" }} b--invalid-red{{ end }}' autocomplete='on' required{{ if eq $.Error "NB-00010" "NB-03050" }} autofocus{{ end }}>
    <ul>
      {{- range $i, $error := index $.FormErrors "password" }}
      <li class='f6 invalid-red list-style-disc'>{{ $error.Message }}</li>
      {{- end }}
    </ul>
  </div>

  {{- if $.Redirect }}
  <input type='hidden' name='$.Redirect' value='{{ $.Redirect }}'>
  {{- end }}

  {{- if $.RequireCaptcha }}
  <div class='{{ $.CaptchaWidgetClass }}' data-sitekey='{{ $.CaptchaSiteKey }}'></div>
  {{- end }}

  <div class='invalid-red' data-validation-status></div>

  <button type='submit' class='button ba br2 pa2 mv3 w-100'>Log in</button>
  <div class='flex items-center justify-center' data-loading-spinner></div>
</form>
