<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>{{ if $.Unpin }}Unpin{{ else }}Pin{{ end }} file</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  {{- if $.SitePrefix }}
  &bull;<a href='/{{ join "files" $.SitePrefix }}/' class='ma2 white'>{{ $.SitePrefix }}</a>
  {{- end }}
  &bull;<a href='{{ $.ContentBaseURL }}' class='ma2 white'>view site</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
{{- if or (eq $.Error "InvalidParent") (not $.Files) }}
<div>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  <div class='mv3 b tc'>No files to pin</div>
</div>
{{- else }}
<form method='post'>
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- end }}
  {{- if $.Unpin }}
  <h3 class='mv3 b'>Unpin following files(s)?</h3>
  {{- else }}
  <h3 class='mv3 b'>Pin following files(s)?</h3>
  {{- end }}
  <input type='hidden' name='parent' value='{{ $.Parent }}'>
  {{- if $.Unpin }}
  <input type='hidden' name='unpin'>
  {{- end }}
  <ul class='list-style-disc ph3'>
    {{- range $file := $.Files }}
    <li class='mv1'>
      {{- if and (not $file.IsDir) (eq (ext $file.Name) ".jpeg" ".jpg" ".png" ".webp" ".gif") }}
        {{- if and $.ImgDomain $.IsDatabaseFS }}
        <img src='//{{ $.ImgDomain }}/{{ $file.FileID }}{{ ext $file.Name }}' class='h3 w3 mr1' loading='lazy'>
        {{- else }}
        <img src='/{{ join "files" $.SitePrefix $.Parent $file.Name }}?raw' class='h3 w3 mr1' loading='lazy'>
        {{- end }}
      {{- end }}
      <a href='/{{ join "files" $.SitePrefix $.Parent $file.Name }}{{ if $file.IsDir }}/{{ end }}'>{{ $file.Name }}{{ if $file.IsDir }}/{{ end }}</a>
      <input type='hidden' name='name' value='{{ $file.Name }}'>
    </li>
    {{- end }}
  </ul>
  {{- if $.Unpin }}
  <button type='submit' class='button-danger ba br2 b--dark-red pa2 mv3'>Unpin</button>
  {{- else }}
  <button type='submit' class='button ba br2 b--black pa2 mv3'>Pin</button>
  {{- end }}
</form>
{{- end }}
