<style>
html { max-width: 80ch; padding: 2rem 0.5rem; margin: auto; line-height: 1.75; font-size: 1.25rem; background-color: #fafafa; }
p, ul, ol { margin-bottom: 1rem; color: #1d1d1d; font-family: sans-serif; }
.m-0 { margin: 0px; }
.my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.mx-auto { margin-left: auto; margin-right: auto; }
.ml-2 { margin-left: 0.5rem; }
.mr-1 { margin-right: 0.25rem; }
.p-0 { padding: 0px; }
.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.justify-center { justify-content: center; }
.gray-600 { color: #4b5563; }
.font-bold { font-weight: bold; }
.text-sm { font-size: 0.875rem; }
.h-100 { height: 100%; }
.w-100 { width: 100%; }
@media screen and (min-width: 30em) and (max-width: 60em) {
  .w-80-m { width: 80%; }
}
@media screen and (min-width: 60em) {
  .w-70-l { width: 70%; }
}
.block { display: block; }
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.list-none { list-style: none; }
.object-cover { object-fit: cover; }
</style>
<title>{{ if $.Category }}{{ $.Category }}{{ else }}posts{{ end }}</title>
<nav>
  {{ range $i, $navigationLink := $.Site.NavigationLinks }}
  {{ if $i }}&boxv; {{ end }}<a href='{{ $navigationLink.URL }}'>{{ $navigationLink.Name }}</a>
  {{ end }}
</nav>
<hr>
<h1>{{ if $.Category }}{{ $.Category }}{{ else }}posts{{ end }}</h1>
{{ if $.Posts }}
  <ul class='m-0 p-0 list-none'>
    {{ range $post := $.Posts }}
    <li>
      <div>
        <a href='{{ $post.Name }}/' class='font-bold'>{{ $post.Title }}</a>
        <span class='ml-2 text-sm gray-600'>{{ $post.CreationTime.Format "2006-01-02" }}</span>
      </div>
      <div title='{{ $post.Preview }}' class='my-1 text-sm'>
        {{ $post.Preview }}
      </div>
    </li>
    {{ end }}
  </ul>
  {{ if ne $.Pagination.First $.Pagination.Last }}
  <div>
    {{ if ne $.Pagination.Current $.Pagination.First }}
    <a href='{{ $.Pagination.First }}/' class='mr-1'>first</a>
    {{ end }}
    {{ if $.Pagination.Previous }}
    <a href='{{ $.Pagination.Previous }}/' class='mr-1'>previous</a>
    {{ end }}
    {{ range $number := $.Pagination.Numbers }}
    <a href='{{ $number }}/' class='mr-1{{ if eq $number $.Pagination.Current }} font-bold{{ end }}'>{{ $number }}</a>
    {{ end }}
    {{ if $.Pagination.Next }}
    <a href='{{ $.Pagination.Next }}/' class='mr-1'>next</a>
    {{ end }}
    {{ if ne $.Pagination.Current $.Pagination.Last }}
    <a href='{{ $.Pagination.Last }}/' class='mr-1'>last</a>
    {{ end }}
  </div>
  {{ end }}
{{ else }}
  <p>- No posts -</p>
{{ end }}
