<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<script type='module' src='/files/static/codemirror.js'></script>
<title>postlist.json (Post List Settings)</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  &bull;
  <a href='{{ $.ContentSite }}' class='ma2 white'>{{ if hasPrefix $.ContentSite "https://" }}{{ trimPrefix $.ContentSite "https://" }}{{ else }}{{ trimPrefix $.ContentSite "http://" }}{{ end }}</a>
  <span class='flex-grow-1'></span>
  {{- if $.Username.Valid }}
  <a href='' class='ma2'>{{ if $.Username.String }}@{{ $.Username.String }}{{ else }}user{{ end }}</a>
  <a href='/users/logout/' class='ma2'>logout</a>
  {{- end }}
</nav>
{{- if eq (index $.PostRedirectGet "from") "postlist.json" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-start'>
  <div>
    <div>saved settings</div>
    <div>regenerated post list ({{ $.Count }} file{{ if ne $.Count 1 }}s{{ end }} in {{ $.TimeTaken }})</div>
  </div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
<form method='post' action='/{{ join "files" $.SitePrefix "posts" $.Category "postlist.json" }}' class='mv2'>
  {{- if $.TemplateError.ErrorMessage }}
  <div class='mv2 invalid-red'>
    <span class='b'>template error: </span>
    {{- $path := "" }}
    {{- if $.TemplateError.Name }}
      {{- if hasPrefix $.TemplateError.Name "/themes/" }}
      {{- $path = join "files" $.SitePrefix "output" $.TemplateError.Name }}
      {{- else }}
      {{- $path = join "files" $.SitePrefix $.TemplateError.Name }}
      {{- end }}
    {{- end }}
    {{- if $path }}
    <a href='/{{ $path }}{{ if $.TemplateError.Line }}#L{{ $.TemplateError.Line }}{{ end }}'>{{ $.TemplateError.Name }}{{ if $.TemplateError.Line }}:{{ $.TemplateError.Line }}{{ end }}</a>: {{ $.TemplateError.ErrorMessage }}
    {{- else }}
    {{ $.TemplateError.ErrorMessage }}
    {{- end }}
  </div>
  {{- end }}
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- else }}
  <div><a href='/{{ join "files" $.SitePrefix }}{{ if not (contains $.SitePrefix ".") }}/{{ end }}'>&larr; back</a></div>
  {{- end }}
  <h1 class='f3 mv3 b'>{{ join $.Category "postlist.json" }} (Post List Settings)</h1>
  <div class='mv3'>
    <div><label for='postsPerPage' class='b'>Posts per page:</label></div>
    <input id='postsPerPage' type='number' name='postsPerPage' value='{{ $.PostsPerPage }}' min='1' class='pv1 ph2 br2 ba' required>
  </div>
  <button type='submit' class='button ba br2 pa2 mv3 w-100'>save</button>
</form>
