<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<script type='module' src='/files/static/editor-153f9bcd.js'></script>
<script type='module' src='/files/static/file-43560899.js'></script>
<title>profile{{ if $.Username }} - {{ $.Username }}{{ end }}</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
<h2 class='f3 mv3 b'>Profile</h2>
<div class=''>
  <a href='/users/editprofile/'>edit profile</a>
</div>
<div class='mv3'>
  <div class='b'>Username:</div>
  <div>{{ $.Username }}</div>
</div>
<div class='mv3'>
  <div class='b'>Email:</div>
  <div>{{ $.Email }}</div>
</div>
<div class='mv3'>
  <div class='b'>Password:</div>
  <div><a href='/users/changepassword/'>change password</a></div>
</div>
<h2 class='f3 mv3 b'>Sites</h2>
<table>
  <thead>
    <tr>
      <th>Site name</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    {{- range $site := $.Sites }}
    <tr>
      <td>{{ if $site.SiteName }}{{ $site.SiteName }}{{ else }}&lt;default&gt;{{ end }}</td>
      <td>{{ humanReadableFileSize $site.StorageUsed }}</td>
    </tr>
    {{- end }}
  </tbody>
  <tfoot>
    <tr>
      <td class='b tr'>Total:</td>
      <td>{{ humanReadableFileSize $.StorageUsed }}</td>
    </tr>
  </tfoot>
</table>
<form method='post' action='/files/calculatestorage/'>
  {{- range $site := $.Sites }}
  <input type='hidden' name='siteName' value='{{ $site.SiteName }}'>
  {{- end }}
  <button type='submit'>recalculate</button>
</form>
