<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>reset password</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  <span class='flex-grow-1'></span>
</nav>
{{- if eq $.Error "InvalidResetToken" "MissingResetToken" }}
<div>
  <div class='mv3 b tc'>Invalid reset token.</div>
</div>
{{- else }}
<form method='post'>
  <h1 class='f3 mv3 b'>Reset password</h1>
  {{- if eq $.Error "FormErrorsPresent" }}
  <div role='alert' class='w-100 br2 ph3 pv2 ba alert'>
    <div>please fix the errors</div>
  </div>
  {{- end }}
  <input type='hidden' name='token' value='{{ $.Token }}'>
  <div class='mv3'>
    <div><label for='password' class='b'>New password:</label></div>
    <ul class='list-style-disc ph3 f6 mid-gray'>
      <li>at least 8 characters</li>
    </ul>
    <input type='password' id='password' name='password' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "password" }} b--invalid-red{{ end }}' required>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "password" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <div class='mv3'>
    <div><label for='confirmPassword' class='b'>Confirm password:</label></div>
    <input type='password' id='confirmPassword' name='confirmPassword' class='pv1 ph2 br2 ba w-100{{ if index $.FormErrors "confirmPassword" }} b--invalid-red{{ end }}' required>
    <ul class='list-style-disc ph3 f6 invalid-red'>
      {{- range $error := index $.FormErrors "confirmPassword" }}
      <li>{{ $error }}</li>
      {{- end }}
    </ul>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>reset password</button>
</form>
{{- end }}
