<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>Reset theme</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}{{ if $.DisableReason }} (account disabled){{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
{{- if referer }}
<div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
{{- else }}
<div><a href='/files/'>&larr; back</a></div>
{{- end }}
<h2 class='ma0 b'>Reset theme</h2>
<form method='post' data-prevent-double-submit>
  <div class='mv3'>
    <label for='resetIndexHTML' class='flex flex-wrap items-center pointer'>
      <input id='resetIndexHTML' type='checkbox' name='resetIndexHTML' value='true' class='pointer' checked>
      <span class='ml2'>reset index.html</span>
    </label>
  </div>
  <div class='mv3'>
    <label for='resetPostHTML' class='flex flex-wrap items-center pointer'>
      <input id='resetPostHTML' type='checkbox' name='resetPostHTML' value='true' class='pointer' checked>
      <span class='ml2'>reset post.html</span>
    </label>
    <label for='resetPostHTMLAllCategories:true' class='flex flex-wrap items-center pointer'>
      <input id='resetPostHTMLAllCategories:true' type='radio' name='resetPostHTMLAllCategories' value='true' class='pointer' checked>
      <span class='ml2'>for all categories</span>
    </label>
    <label for='resetPostHTMLAllCategories:false' class='flex flex-wrap items-center pointer'>
      <input id='resetPostHTMLAllCategories:false' type='radio' name='resetPostHTMLAllCategories' value='false' class='pointer'>
      <span class='ml2'>for category</span>
      <select name='resetPostHTMLCategory' class='ml2'>
        {{- range $category := $.Categories }}
        <option value='{{ $category }}'>{{ $category }}</option>
        {{- end }}
      </select>
    </label>
  </div>
  <div class='mv3'>
    <label for='resetPostListHTML' class='flex flex-wrap items-center pointer'>
      <input id='resetPostListHTML' type='checkbox' name='resetPostListHTML' value='true' class='pointer' checked>
      <span class='ml2'>reset postlist.html</span>
    </label>
    <label for='resetPostListHTMLAllCategories:true' class='flex flex-wrap items-center pointer'>
      <input id='resetPostListHTMLAllCategories:true' type='radio' name='resetPostListHTMLAllCategories' value='true' class='pointer' checked>
      <span class='ml2'>for all categories</span>
    </label>
    <label for='resetPostListHTMLAllCategories:false' class='flex flex-wrap items-center pointer'>
      <input id='resetPostListHTMLAllCategories:false' type='radio' name='resetPostListHTMLAllCategories' value='false' class='pointer'>
      <span class='ml2'>for category</span>
      <select name='resetPostListHTMLCategory' class='ml2'>
        {{- range $category := $.Categories }}
        <option value='{{ $category }}'>{{ $category }}</option>
        {{- end }}
      </select>
    </label>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>reset theme</button>
</form>
