<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<script type='module' src='/files/static/site_json.js'></script>
<script type='module' src='/files/static/editor-153f9bcd.js'></script>
<title>site.json (Site Settings)</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  {{- if $.SitePrefix }}
  &bull;<a href='/{{ join "files" $.SitePrefix }}/' class='ma2 white'>{{ $.SitePrefix }}</a>
  {{- end }}
  &bull;<a href='{{ $.ContentBaseURL }}' class='ma2 white'>view site</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
{{- if eq (index $.PostRedirectGet "from") "site.json" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-start'>
  <div class='pv1'>
    <div>saved settings (regenerated {{ $.RegenerationStats.Count }} file{{ if ne $.RegenerationStats.Count 1 }}s{{ end }} in {{ $.RegenerationStats.TimeTaken }}): <a href='{{ $.ContentBaseURL }}'>view</a></div>
  </div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
<form method='post' action='/{{ join "files" $.SitePrefix "site.json" }}' class='mv2'>
  {{- if $.RegenerationStats.TemplateError.ErrorMessage }}
  <div class='mv2 invalid-red'>
    <span class='b'>template error: </span>
    {{- $path := "" }}
    {{- if $.RegenerationStats.TemplateError.Name }}
      {{- if hasPrefix $.RegenerationStats.TemplateError.Name "/themes/" }}
      {{- $path = join "files" $.SitePrefix "output" $.RegenerationStats.TemplateError.Name }}
      {{- else }}
      {{- $path = join "files" $.SitePrefix $.RegenerationStats.TemplateError.Name }}
      {{- end }}
    {{- end }}
    {{- if $path }}
    <a href='/{{ $path }}{{ if $.RegenerationStats.TemplateError.Line }}#L{{ $.RegenerationStats.TemplateError.Line }}{{ end }}'>{{ $.RegenerationStats.TemplateError.Name }}{{ if $.RegenerationStats.TemplateError.Line }}:{{ $.RegenerationStats.TemplateError.Line }}{{ end }}</a>: {{ $.RegenerationStats.TemplateError.ErrorMessage }}
    {{- else }}
    {{ $.RegenerationStats.TemplateError.ErrorMessage }}
    {{- end }}
  </div>
  {{- end }}
  {{- if referer }}
  <div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
  {{- else }}
  <div><a href='/{{ join "files" $.SitePrefix }}{{ if not (contains $.SitePrefix ".") }}/{{ end }}'>&larr; back</a></div>
  {{- end }}
  <h1 class='f3 mv3 b'>site.json (Site Settings)</h1>
  <div class='flex mv2'>
    <div class='flex-grow-1'></div>
    <button type='submit' class='button ba ph3 pv1 br2 b--black'>save</button>
  </div>
  <div class='mv3'>
    <div><label for='title' class='b'>Title:</label></div>
    <input id='title' name='title' value='{{ $.Title }}' class='pv1 ph2 br2 ba w-100' required>
  </div>
  <div class='mv3'>
    <div><label for='emoji' class='b'>Emoji:</label></div>
    <input id='emoji' name='emoji' value='{{ $.Emoji }}' class='pv1 ph2 br2 ba'>
  </div>
  <div class='mv3'>
    <div><label for='favicon' class='b'>Favicon (optional):</label></div>
    <input id='favicon' name='favicon' value='{{ $.Favicon }}' class='pv1 ph2 br2 ba w-100'>
  </div>
  <div class='mv3'>
    <div><label for='codeStyle' class='b'>Code Style (<a href='/files/static/chroma-style-gallery-2030e4e0.html'>Chroma Style Gallery</a>):</label></div>
    <select id='codeStyle' name='codeStyle' class='br2'>
      {{- range $codeStyle, $true := chromaStyles }}
      <option value='{{ $codeStyle }}'{{ if eq $.CodeStyle $codeStyle }} selected{{ end }}>{{ $codeStyle }}</option>
      {{- end }}
    </select>
  </div>
  <div class='mv3'>
    <div><label for='description' class='b'>Description:</label></div>
    <div data-editor='{"ext":".md"}'>
      <input type='hidden' name='ext:0' value='.md'>
      <textarea id='description' name='description' dir='auto' class='w-100 pa2 min-h5 h6 resize-vertical code' required>{{ $.Description }}</textarea>
    </div>
  </div>
  <div class='mv3'>
    <div class='b'>Navigation Links:</div>
    <div data-navigation-links>
      {{- range $i, $navigationLink := $.NavigationLinks }}
      <fieldset data-navigation-link>
        <legend>item {{ incr $i }}</legend>
        <div class='mv1'>
          <label for='navigationLinkName:{{ $i }}'>
            <span class='b'>Name: </span>
            <input id='navigationLinkName:{{ $i }}' name='navigationLinkName' value='{{ $navigationLink.Name }}' class='pv1 ph2 br2 ba'>
          </label>
        </div>
        <div class='mv1'>
          <label for='navigationLinkURL:{{ $i }}'>
            <span class='b'>URL: </span>
            <input id='navigationLinkURL:{{ $i }}' name='navigationLinkURL' value='{{ $navigationLink.URL }}' class='pv1 ph2 br2 ba'>
          </label>
        </div>
      </fieldset>
      {{- end }}
    </div>
    <div class='mt2'>
      <button type='button' class='button ba br2 pv1 b--black' data-add-navigation-link>add item</button>
      <button type='button' class='button ba br2 pv1 b--black' data-remove-navigation-link>remove item</button>
    </div>
  </div>
  <button type='submit' class='button ba br2 b--black pa2 mv3 w-100'>save</button>
</form>
{{- if $.IsDatabaseFS }}
<div class='mv3'>
  <span class='b'>Storage Used:</span>
  <span>{{ humanReadableFileSize $.StorageUsed }}<span>
</div>
{{- end }}
