<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 10%22><text y=%221em%22 font-size=%228%22>☕</text></svg>'>
<style>{{ stylesCSS }}</style>
<script type='module'>{{ baselineJS }}</script>
<title>profile{{ if $.Username }} - {{ $.Username }}{{ end }}</title>
<body class='centered-body'>
<nav class='mv2 bg-dark-cyan white flex flex-wrap items-center'>
  <a href='/files/' class='ma2 white'>🖋️☕ notebrew</a>
  <span class='flex-grow-1'></span>
  {{- if not $.UserID.IsZero }}
  <a href='/users/profile/' class='ma2 white'>{{ if $.Username }}profile ({{ $.Username }}){{ else }}profile{{ end }}{{ if $.DisableReason }} (account disabled){{ end }}</a>
  <a href='/users/logout/' class='ma2 white'>logout</a>
  {{- end }}
</nav>
{{- if eq (index $.PostRedirectGet "from") "editprofile" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-start'>
  <div class='pv1'>updated profile</div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if eq (index $.PostRedirectGet "from") "calculatestorage" }}
<div role='alert' class='alert mv2 pa2 br2 flex items-start'>
  <div class='pv1'>recalculated storage</div>
  <div class='flex-grow-1'></div>
  <button class='f3 bg-transparent bn o-70 hover-black' data-dismiss-alert>&times;</button>
</div>
{{- end }}
{{- if referer }}
<div><a href='{{ referer }}' data-go-back>&larr; back</a></div>
{{- else }}
<div><a href='/files/'>&larr; back</a></div>
{{- end }}
{{- if $.DisableReason }}

<h2 class='mv0 mh2 invalid-red'>ACCOUNT DISABLED</h2>
<div><span class='b invalid-red'>Disable reason:</span> {{ $.DisableReason }}</div>

{{- end }}
<fieldset>
  <legend><h2 class='mv0 mh2'>profile</h2></legend>
  <div class='mv2'>
    <a href='/users/editprofile/'>edit profile</a>
  </div>
  <div class='mv2'>
    <div class='b'>Username:</div>
    <div>{{ if $.Username }}{{ $.Username }}{{ else }}<em>default user</em>{{ end }}</div>
  </div>
  <div class='mv2'>
    <div class='b'>Email:</div>
    <div>{{ $.Email }}</div>
  </div>
  <div class='mv2'>
    <div class='b'>Password:</div>
    <div><a href='/users/changepassword/'>change password</a></div>
  </div>
</fieldset>
<fieldset class='mt2'>
  <legend><h2 class='mv0 mh2'>sites</h2></legend>
  <div class='overflow-x-auto'>
    <table class='mv2 collapse'>
      <thead>
        <tr class='bb h2'>
          <th class='pa2'>Site names</th>
          <th class='pa2'>Size</th>
        </tr>
      </thead>
      <tbody>
        {{- range $site := $.Sites }}
        <tr class='bb'>
          <td class='pa2'><a href='/{{ join "files" (sitePrefix $site.SiteName) }}/'>{{ if $site.SiteName }}{{ $site.SiteName }}{{ else }}<em>default site</em>{{ end }}</a></td>
          <td class='pa2'>{{ humanReadableFileSize $site.StorageUsed }}</td>
        </tr>
        {{- end }}
      </tbody>
      <tfoot>
        <tr>
          <td class='pa2 b tr'>Storage Used:</td>
          <td class='pa2'>{{ humanReadableFileSize $.StorageUsed }}{{ if gt $.StorageLimit 0 }} &frasl; {{ humanReadableFileSize $.StorageLimit }}{{ end }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <form method='post' action='/files/calculatestorage/' class='mv2' data-prevent-double-submit>
    {{- range $site := $.Sites }}
    <input type='hidden' name='siteName' value='{{ $site.SiteName }}'>
    {{- end }}
    <button type='submit' class='button ba ph3 br2 b--black pv1'>recalculate</button>
  </form>
</fieldset>

